engine-strict=true

# --- Start Positron ---
# Don't auto-install peer dependencies -- prompt-tsx specifically needs to use
# the version from Positron
auto-install-peers=false
legacy-peer-deps=true
# --- End Positron ---
